body {
  padding:0;
  margin:0;
}


.ccc-hero {
    --sky-color:#68B3FF;
    --dirt-color:#665034;
    background-image: url(../images/sky-transparency.png);
    background-size:100% 100%;
    background-color: var(--sky-color);
    height:100vh;
    overflow:hidden;
    position: relative;

    &__wall {
        position: absolute;
        height: auto;
        width:444px;
        z-index: 0;

        &.left {
            bottom:-20%;
            left:10rem;
        }

        &.right {
            bottom:8%;
            right:4rem;
        }
    }

    &__floor {
        bottom:0;
        position: absolute;
        line-height: 0;
        left:0;
        width:100%;
        z-index: 1;

        img {
            height: auto;
            width:100%;
        }

        &:after {
            background-color: var(--dirt-color);
            content:"";
            display: block;
            height:5rem;
            width:100%;
        }
    }
}

/* Clouds */
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

@keyframes moveClouds {
    0% {
        transform: translateX(-250px); /* Start off-screen */
    }
    100% {
        transform: translateX(100vw); /* End off-screen */
    }
}

.cloud {
    position: absolute;
    animation-name: moveClouds;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cloud-1 {
    width: 150px;
    top: 5%;
    animation-duration: 40s;
    animation-delay: -10s;
}

.cloud-2 {
    width: 200px;
    top: 10%;
    animation-duration: 30s;
    animation-delay: -5s;
}

.cloud-3 {
    width: 120px;
    top: 20%;
    animation-duration: 50s;
    animation-delay: -15s;
}

.cloud-4 {
    width: 250px;
    top: 30%;
    animation-duration: 25s;
    animation-delay: -20s;
}

.cloud-5 {
    width: 180px;
    top: 40%;
    animation-duration: 35s;
    animation-delay: 0s;
}
